:root {
  --dice-size: 100px;
  --background-0: 0 0% 100%;
  --background-x: 0 0% 100%;
  --background-white: #fff;
  --background-black: #000;
  --background-main: #25781c;
  --title-reverse-color: #fff;
  --text-reverse-color: #fff;
  --font-family: Arial, sans-serif;
  --font-size-x-small: 10px;
  --font-size-small: 12px;
  --font-size-medium: 14px;
  --font-size-big: 16px;
  --font-size-x-big: 18px;
}