@use "vars";
@use "form";

.drumee-router__main {
  height: auto;
}

.onboarding {
  font-family: Armin Grotesk;
}

.onboarding-app {
  &__ui {
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--panel);
    overflow: auto;

    &[data-device="mobile"] {
      padding: 0px;
    }
  }

  &__main {
    justify-content: start;
    align-items: center;
    gap: 1rem;
    height: 100%;
    width: 100%;
    max-width: 688px;
  }

  &__header {
    height: auto;
    width: 100%;
  }

  &__text-container {
    height: auto;
    gap: 4px;
    width: 100%;
  }

  &__logo {
    &-container {
      height: 104px;
      align-content: center;
      justify-content: start;
      align-items: start;
      flex-wrap: wrap;
    }

    &-content {
      height: 40px;
    }
  }

  &__title {
    font-weight: 600;
    font-style: normal;
    font-size: 32px;
    line-height: 40px;
  }

  &__tips {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  &__progress-bar {
    background: #DDDFE4;
    width: 100%;
    height: 8px;
    margin-bottom: 32px;
    border-radius: 1000px;
    gap: 10px;
    opacity: 1;

    &::before {
      height: 100%;
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 1000px;
      background-color: var(--Primary-500);
    }

    &.step-0::before {
      width: 20%;
    }

    &.step-1::before {
      width: 40%;
    }

    &.step-2::before {
      width: 60%;
    }

    &.step-3::before {
      width: 80%;
    }

    // &.step-4::before {
    //   width: 79%;
    // }
  }

  &__button-main {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 999px;
    text-decoration: none;
    transition: all 0.2s;
    background: var(--standby);
    color: var(--Neutral-400);

    &[data-state="0"] {
      pointer-events: none;
    }

    &[data-state="1"] {
      background: var(--brand);
      color: var(--white);

      .icon {
        background: var(--white);
      }
    }

    &.with-icon {
      padding: 0.5rem 2.5rem 0.5rem 1.5rem;
    }

    &:hover {
      box-shadow: var(--button-shadow-hover);
    }
  }

  &__footer-container {
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;

    .btn {
      display: flex;
      align-items: center;
      border-radius: 999px;
      text-decoration: none;
      font-size: 15px;
      // height: 36px;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      vertical-align: middle;
    }

    .icon {
      width: 30px;
      height: 30px;
      position: absolute;
      right: 5px;
      border-radius: 50%;
      background: var(--Neutral-50);
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 14px;
        height: 14px;
      }
    }
  }
}